[submodule "libpeople"]
	path = libpeople
	url = git@github.com:sogilis/Fortunes.git
	branch = libpeople
[submodule "libplace"]
	path = libplace
	url = git@github.com:sogilis/Fortunes.git
	branch = libplace
[submodule "libaction"]
	path = libaction
	url = git@github.com:sogilis/Fortunes.git
	branch = libaction
